In [1]:
import numpy as np

In [2]:
facs = np.load('save_data/npy_files/facs.npy')

In [3]:
np_facs = np.load('save_data/npy_files/np_facs.npy')

In [4]:
facs.shape

(1307, 15)

In [5]:
facs

array([[ 0,  0,  0, ...,  0,  0,  0],
       [ 0,  9, 17, ...,  0,  0,  0],
       [ 0,  9, 17, ...,  0,  0,  0],
       ...,
       [ 0,  1,  2, ...,  0,  0,  0],
       [ 0,  1,  2, ...,  0,  0,  0],
       [ 0,  1,  2, ...,  0,  0,  0]])

In [6]:
np_facs.shape

(1307, 15, 64)

In [7]:
facs_time = np.load('save_data/npy_files/facs_time.npy')

In [8]:
facs_time.shape

(1307, 15, 65)

In [32]:
facs_time[2][3]

array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [9]:
facs_time[0].shape

(15, 65)

In [48]:
facs_multi = np.zeros((1307, 65))

In [49]:
for index, inst in enumerate(facs):
    inst = set(inst)
    if inst == {0}:
        facs_multi[index][0] = 1
        continue
    for elem in inst:
        if elem == 0:
            continue
        else:
            facs_multi[index][elem] = 1

In [56]:
df_facs = pd.DataFrame(facs_multi)

In [57]:
df_facs.head()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [58]:
facs_list = [0,1,2,4,5,6,7,9,10,12,15,17,20,23,24,25,26,27]
facs_multi_possible = df_facs[facs_list]

In [59]:
facs_multi_possible.head()

,0,1,2,4,5,6,7,9,10,12,15,17,20,23,24,25,26,27
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [60]:
facs_multi_possible.to_csv('save_data/npy_files/facs_multi.csv')